.footer__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 37px;
    border-top: 2px solid #9D9D9D4D;
}

.footer__links > a {
    color: #FFFFFFB3;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .footer__links {
        flex-direction: row;
        gap: 48px;
        padding-top: 16px;
        padding-bottom: 23px;
    }
}