.main-article__exercise {
    background-color: #FEFAEC;
    border-radius: 16px;
    padding: 16px;
    margin: 8px 0;
}

.main-article__exercise > h3 {
    margin-bottom: 8px;
    font-size: 16px;
}

.ex-2 {
    background-color: #FFF3EB;
}

.ex-3 {
    background-color: #03B2A51A;
}

@media screen and (min-width: 768px) {
    .main-article__exercise {
        padding: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .ex-3 {
        margin-bottom: 70px;
    }
}

@media screen and (min-width: 1440px) {
    .ex-3 {
        margin-bottom: 22px;
    }
}